/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/

# Configuration
wp-config.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess
